# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/syedweb4/public_html/whatsapp-agent.toolsfinity.io"
PassengerBaseURI "/"
PassengerNodejs "/home/syedweb4/nodevenv/public_html/whatsapp-agent.toolsfinity.io/24/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END